*{
    padding: 0;
    margin: 0;
  }
  
  body {
    background: url("/Images/3.jpeg") center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #000; 
    height: 100vh;
    color: #fff; 
    display: flex;
    flex-direction: column;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  /* header {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 0.5px;
    margin-bottom: 55px;
  } */
  
  footer {
    margin-top: 10px;
    background-color: #fff;
    color: #333;
    padding: 0.5px;
  }
  /* 
  nav {
    margin-bottom: 5px;
    width: 100%;
    text-align: right;
    background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  nav  img {
    height: 69px;
    margin-right: 40px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
    padding: 0px 40px;
    margin-right: 20px;
    margin: 5px; 
  }
  
  
  nav a:hover {
    color: #333; 
    text-decoration: underline; 
  } */
  
  main{
    flex-grow: 1;
  }
  
  
  .blank{
    padding: 50px;
  }
  
  .login-container {
    
    /* margin-top: 1500px; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    max-width: 400px;
    /* max-height: 700px; */
    margin: auto;
    margin-bottom: 60px;
  
  }
  
  .login-container h2 {
    color: #000000;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form label {
    color: #000000;
    text-align: left;
    margin-bottom: 5px;
    width: 80%;
  }
  
  .login-form input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    outline: none;
    width: 80%;
  }
  
  .login-form input[type="submit"]{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    margin-top: 25px;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: large;
    color: #000;
    background-color: #EE0E0E;
    width: 80%;
    transition: background-color 0.3s;
  
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .social-logins{
    display: flex;
    justify-content: space-evenly; 
    padding-top: 20px;
    padding-bottom: 20px;
    width:80%;
    /* border: 2px solid #333; */
  }
  
  .social-logins img {
    height: 40px;
    width: 40px;
  }
  
  #ggl {
    height: 35px;
    width: 35px;
  }
  
  .register-btn {
    background-color: transparent; 
    color: #272323;
    padding: 5px 10px;
    margin-right: 30px;
    border: 3px solid #EE0E0E;
    cursor: pointer;
    transition: border-color 0.5s;
    border-radius: 10px;
  }
  
  .register-btn:hover {
    border-color: #66ff66; 
    text-decoration: none; 
  }
  
  
  @media(max-width : 470px){
  
   .login-container{
    margin-left: 10px;
    margin-right: 10px;
   }
  
  
  }